#logo
{
    width: 100%;
    height:80px;
}
#contenant
{
    padding-right: 0px;
    padding-left: 0px;
}
nav
{
    background-color:aliceblue;
    position: fixed;
    width: 100%;
    padding: 5px;
    opacity: 0.7;
    z-index: 2;
}
.lien
{
    position: relative;
    top: 30%;
}
#fontFooter
{
    font-size: 0.6em;
    color:beige;
}
.logo-footer
{
    width: auto;
    height: 35px;
}
.photoId
{
    width: 100px;
    height:100px ;
}
section p
{
    font-size: 0.8em;
}
footer
{
 background-image: url(/images/etoiles.jpg);

}
p
{
    font-family: 'Sawarabi Mincho', serif;
}

h1{
    font-family: 'Kaushan Script', cursive;
}
footer img{
    margin-top: 5px;

}
