#logo
{
    width: 100%;
    height:80px ;
}
#contenant
{
    padding-right: 0px;
    padding-left: 0px;
}
nav
{
    background-color:aliceblue;
    position: fixed;
    width: 100%;
    padding: 5px;
    opacity: 0.7;
}
.lien
{
    position: relative;
    top: 30%;
}
.logo-footer
{
    width: auto;
    height: 35px;
}
#fontFooter
{
    font-size: 0.6em;
    color:beige;
}
#mapFrame
{
    height: 250px;
    width:auto;
}
header p
{
    font-size: 2em;
}
main h2
{
    text-align: center;
}
#btn
{
    position: relative;
    height: 100px;
    width: 150px;
    left: 33%;
    margin: 25px;
    
  
}
footer
{
 background-image: url(/images/etoiles.jpg);
}
p, label
{
    font-family: 'Sawarabi Mincho', serif;
}

body
{
    background-image: url(/images/img_fond_form.jpg);
    background-repeat: no-repeat;
    background-size:contain;
}
input, label, textarea, iframe
{
    margin-left: 20px;
}
h1
{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
header p
{
    text-align: center;
    font-family: 'Sawarabi Mincho', serif
    
}
footer img{
    margin-top: 5px;

}

