#logo
{
    width: 100%;
    height:80px ;
}
#contenant
{
    padding-right: 0px;
    padding-left: 0px;
    
}
nav
{
    background-color:aliceblue;
    position: fixed;
    width: 100%;
    padding: 5px;
    z-index: 2;
    opacity: 0.7;
    
}
.lien
{
    position: relative;
    top: 30%;
}
body
{
    width: 100%;
   
}
p{
    font-family: 'Sawarabi Mincho', serif;
    font-size: 18px;
    padding-left: 20px;
}
img
{
    height: 100%;
    width: 100%;
    z-index: 1;
}
.logo-footer
{
    width: auto;
    height: 35px;
}
#fontFooter
{
    font-size: 0.6em;
    color:beige;
}
/* #section1{
    background-color: lightcoral;

#section2{
    background-color: rgb(197, 235, 121);
}
#section3{
    background-color: lightpink;
} */
h1{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}
footer
{
 background-image: url(/images/etoiles.jpg);
}
footer img{
    margin-top: 5px;

}

