#logo
{
    width: 100%;
    height:80px ;

}
#contenant
{
    padding-right: 0px;
    padding-left: 0px;
}
nav
{
    background-color:aliceblue;
    position: fixed;
    width: 100%;
    padding: 5px;
    opacity: 0.7;
}

.lien
{
    position: relative;
    top: 30%;
}
img
{
    height: 100%;
    width:100%;
}

.logo-footer
{
    width: auto;
    height: 35px;
    
}
#fontFooter
{
    font-size: 0.6em;
    color: white;
}
footer
{
 background-image: url(/images/etoiles.jpg);
}
p
{
    font-family: 'Sawarabi Mincho', serif;
    font-size: 18px;
    padding-left: 20px;
}

h2{
    font-family: 'Kaushan Script', cursive;
    font-size:50px;
    text-align: center;
    
    
}
ul{
    font-size: 22px;
    font-family: 'Sawarabi Mincho', serif;
    
}
footer img{
    margin-top: 5px;

}

