#logo
{
    width: auto;
    height:80px ;
}
#contenant
{
    padding-right: 0px;
    padding-left: 0px;
}
nav
{
    background-color:aliceblue;
}
.logo-footer
{
    width: auto;
    height: 35px;
}
#fontFooter
{
    font-size: 0.6em;
    color:beige;
}
#mapFrame
{
    height: 250px;
    width:auto;
}
header p
{
    font-size: 2em;
}
main h2
{
    text-align: center;
}
#btn
{
    position: relative;
    height: 100px;
    width: 150px;
    left: 33%;
    margin: 25px;
    
  
}
footer
{
 background-image: url(/images/etoiles.jpg);
}
body
{
    background-image: url(/images/img_contact.webp);
    opacity: 0.99;
    background-repeat: no-repeat;
    background-size: cover;
}